@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transform: 2s linear;
}

/*HEADER NAV*/
header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    align-items: center;
}

.logo img {
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: -30px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list ul li {
    transition: transform 0.3s ease;
}

.nav-list ul li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.nav-list ul li:hover a {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.815);
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #d69744;
    transition: transform 0.3s ease;
}

.login-button button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px hwb(34 27% 16% / 0.842);
    cursor: pointer;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease;
}

.mobile-menu.open {
    max-height: 500px;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        display: flex;
        padding: 1.5rem 4rem;
        justify-content: space-between;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        color: #d69744;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

/*HEADER NAV*/

/*SLIDER IMAGENS*/
.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #393939;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input,
.img-mob {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 2s;
}

.slide-box img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.slide-box img:hover {
    transform: scale(1.01);
}

.nav-manual,
.nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 30%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
    border: 1px solid #d69744;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #d69744;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #d69744;
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -25%;
}

#radio3:checked ~ .primeiro {
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mob {
        display: block;
    }

    .nav-manual,
    .nav-auto {
        margin-top: 52%;
    }

    .nav-manual .manual-btn,
    .nav-auto div {
        padding: 5px;
    }
}

@media screen and (max-width: 634px) {
    .slider {
        width: 100%;
        height: auto;
    }
}

/*FIM SLIDER IMAGENS*/

/*search-catalog*/
section .catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section .filter-car {
    width: 100%;
    height: 150px;
    background: #393939;
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section .filter-car .search-input {
    width: 70%;
    height: 60px;
    border: none;
    outline: none;
    background: #c0c6c3;
    text-indent: 10px;
    transition: transform 0.3s ease;
    border-radius: 4px 0 0 4px;
    color: #fff;
    font-size: 1.1rem;
}

section .filter-car .search-input:hover {
    transform: scale(1.01);
    /* Zoom de 10% */
    box-shadow: 0 0 10px hwb(0 100% 0% / 0.842);
}

section .filter-car .search-button {
    width: 80px;
    height: 60px;
    border: none;
    background-color: #d69744;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 1.1rem;
    transition: transform 0.3s ease;
}

.filter-car .search-button:hover {
    transform: scale(1.01);
    /* Zoom de 10% */
    box-shadow: 0 0 10px hwb(34 27% 16% / 0.842);
    cursor: pointer;
}

.filter-car .search-input::placeholder {
    color: #fff;
    font-size: 1.1rem;
}

/*fim search-catalog*/

/*catalog*/

body,
.catalog,
.pai-produti-area {
    margin: 0;
    padding: 0;
    background-color: #24252a;
}
.pai-produti-area{
    margin: 10px;
}

.products-area {
    max-width: 1500px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
}

.product-item:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px hwb(34 27% 16% / 0.445);
}

.product-item {
    height: 680px;
    background: #393939;
    transition: 0.5s ease;
}

.product-item img {
    width: 100%;
    height: auto;
}

.car-title,
.title-details {
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 10px;
}

.status-car {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status-car .status-events {
    width: 180px;
    text-indent: 20px;
    background: #4964a4;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

.products-area .product-item .button-details {
    width: 88%;
    background: #d69744;
    border: none;
    padding: 15px 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.products-area .product-item .button-details:hover {
    transform: scale(1.01);
    /* Zoom de 10% */
    box-shadow: 0 0 10px hwb(34 27% 16% / 0.842);
    cursor: pointer;
}

.valor-item {
    display: flex;
    flex-direction: row;
}

.valor-item .valor-car,
.type-moeda {
    margin-left: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #d69744;
    margin-top: 10px;
}

.inform-car .title-details {
    color: #a6aca9;
}